/** Site style **/

footer {
    bottom: 10px;
}

footer i {
    color:#ff0000;
}

footer p{
    text-align: center;
}

.body-content {
    padding-left: 2%;
    padding-right: 2%;
}

.response{
   background-color: #FFF7B3;
   margin: 2em auto;
   padding: 1em;
}

media, .media{
    display: block;
    margin: 1em 0;
    max-width: 100%;
}